alabaster==0.7.10
Babel==2.6.0
certifi==2018.4.16
chardet==3.0.4
CommonMark==0.5.4
docutils==0.14
idna==2.6
imagesize==1.0.0
Jinja2==2.10.1
MarkupSafe==1.0
mock==1.0.1
packaging==17.1
Pillow==6.2.0
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.4
readthedocs-sphinx-ext==0.5.11
recommonmark==0.4.0
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinx-rtd-theme==0.3.1
sphinxcontrib-websupport==1.1.0
typing==3.6.4
urllib3==1.24.2
